*{
margin: 0;
font-family: sans-serif;
}
.divpagesheader{
display: flex;
gap: 20px;
font-size: 20px;
color: #191919;
}
.inpheader{
width: 400px;
height: 10px;
border: none;
padding: 15px;
box-shadow: 0px 0px 10px rgba(164, 163, 163, 0.59);
}
.imgpoisk{
position: absolute;
top: 10px;
right: 10px;
}
.divinpheader{
position: relative;
}
.pageheader{
font-size: 20px;
}
.page2header{
font-weight: 600;
font-size: 20px;
}
.div3heaeder{
display: flex;
align-items: center;
gap: 20px;
}
.header{
display: flex;
align-items: center;
height: 80px;
box-shadow: 0px 0px 10px rgb(195, 194, 194);
justify-content: center;
gap: 50px;
}
.divpageheader2{
display: flex;
gap: 20px;
font-size: 20px;
color: #191919;
}
.btnheader2{
width: 150px;
height: 50px;
background-color: #FF7715;
border-radius: 10px;
border: none;
color: white;
font-size: 17px;
}
.header2{
display: flex;
gap: 30px;
align-items: center;
justify-content: center;
height: 80px;
}
.section1{
margin-top: 20px;
width: 100%;
height: 650px;
background-color: rgb(40, 39, 39);
}
.zgss1{
color: white;
font-size: 50px;
text-align: center;
padding-top: 20px;
}
.divpagesss1{
display: flex;
gap: 20px;
font-size: 20px;
color: #FFFFFF;
}
.pagess1{
color: white;
font-size: 20px;
font-weight: 700;
}
.divdanniye{
display: flex;
gap: 30px;
justify-content: center;
border-bottom: 3px solid #D4D4D4;
width: 61%;
margin: auto;
margin-top: 50px;
padding: 30px;
padding-left: 0;
}
.zg2ss1{
color: white;
margin-left: 280px;
margin-top: 20px;
}
.card1{
width: 300px;
height: 80px;
border: 3px solid white;
border-radius: 10px;
}
.pagecard1{
color: white;
font-size: 20px;
width: 150px;
}
.card1{
display: flex;
justify-content: space-evenly;
align-items: center;
}
.imgcard{
width: 50px;
height: 50px;
}
.iconnalevo{
width: 50px;
color: #FF7715;
}
.zgicon{
color: white;
font-size: 30px;
font-weight: 100;
margin-left: 5px;
}
.card2{
display: flex;
flex-direction: column;
justify-content: center;
}
.obshiyss1{
display: flex;
gap: 50px;
justify-content: center;
margin-top: 50px;
}
.iconvniz{
width: 50px;
color: #FF7715;
}
.card3{
display: flex;
justify-content: end;
margin-right: 260px;
margin-top: 10px;
}
.obshiy2ss1{
display: flex;
gap: 50px;
justify-content: center;
margin-top: 20px;
}
.podcluch{
color: #FF7715;
}
.zgss2{
color: black;
font-size: 50px;
width: 750px;
}
.zg2ss2{
font-size: 50px;
color: #FF7715;
display: flex;
align-items: center;
gap: 10px;
}
.rabochiyden{
font-size: 20px;
color: #191919;
}
.btnss2{
width: 300px;
height: 60px;
background-color: #FF7715;
border-radius: 10px;
border: none;
color: white;
font-size: 20px;
font-weight: 700;
}
.div45{
display: flex;
flex-direction: column;
align-items: center;
}
.obshiyss2{
display: flex;
justify-content: space-evenly;
margin-top: 50px;
}
.divgridss2{
display: grid;
grid-template-columns: repeat(3, 400px);
grid-template-rows: repeat(2, 150px);
gap: 20px;
width: 80%;
margin: auto;
margin-top: 50px
}
.let5{
color: #FF7715;
}
.pageitem1{
font-size: 20px;
font-weight: 600;
width: 200px;
}
.item1{
display: flex;
justify-content: space-evenly;
padding-top: 20px;
box-shadow: 0px 0px 10px rgba(172, 171, 171, 0.693);
width: 100%;
height: 130px;
border-radius: 10px;
}
.imgitem1{
width: 100px;
height: 120px;
}
.ractage{
background-image: url(./images/Rectangle\ 39097.png);
background-size: cover;
background-repeat: no-repeat;
width: 300px;
height: 150px;
border-radius: 10px;
}
.divstop{
display: flex;
justify-content: center;
align-items: center;
padding-top: 30px;
}
.pageitem2{
font-weight: 700;
font-size: 20px;
color: #FF7715;
}
.page2item2{
color: black;
font-weight: 700;
font-size: 18px;
width: 300px;
}
.item2{
    grid-row: span 2;
display: flex;
flex-direction: column;
row-gap: 25px;
justify-content: center;
padding-left: 50px;
box-shadow: 0px 0px 10px rgba(172, 171, 171, 0.693);
width: 88%;
border-radius: 10px;

}